.aboutMeBg {
    background-color: #310333;
    min-width: 100vh;
    min-height: 100vh;
}



.aboutMeWiring{
    border-width: 2px;
    border-style: solid;
    border-color: white;
    height: 90vh;
    width: 80%;
    position: absolute;
    left: 12%;
    top: 5%;
}
.contentWrapper{
   margin-left: 7%;
   margin-right: 7%;
   display: flex;
   flex-direction: row; 
}
.aboutMeHeader{
    color:white;
    font-weight: normal;
    text-align: center;
    font-size: 75px;
    margin-top: 3%;
}

.aboutMeText{

    color:white;
    margin-top: 2%;
    font-size: 33px;
}
.leftColoredBar{
    background-color: #4EC5DE;
    height: 3px;
    width: 25vh;
    margin-left: 7%;
    margin-top:7%;
    margin-bottom: 3%;

}
.rightColoredBar{
        background-color: #4EC5DE;
        height: 3px;
        width: 25vh;
        margin-right: 7%;
        margin-top:7%;
        margin-bottom: 3%;
    
}
.buttonWrapper{
    font-size:30px;
    margin: 0 auto;
    width: 80%;
    height: 10vh;
    p{
        text-align: center;
        vertical-align: middle;
    }

}
.textWrapper{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    width: 900px;
}

@media screen and (max-width: 1500px), (max-height: 720px){
    .aboutMeText{
        font-size: 20px;
    }
    .leftColoredBar, .rightColoredBar{
        width: 15vh;
    }
    .buttonWrapper{
        font-size: 20px;
    }
}

@media screen and (max-width: 1800px), (max-height:900px){
    .aboutMeText{
        font-size: 25px;
    }
}