.mobileBg{
    width: 100%;
    height: 100%;
    color: white;
}
.mobileWiring{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobileContentWrapper{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.mobileText{
    font-size: calc(14px + 2vw);
}
.mobileHeader{
    text-align: center;
}