.mobileContainer{
    display: none;
}

@media only screen and (max-width:800px){
    body{
        background-color: #030f33;
    }
    .mobileContainer{
        display: block;
    }
    .desktopContainer{
        display: none;
    }
}