.mobileBg{
    background-color: #030f33;
    width: 100vh;
    height: 100vh;
    color: white;
}
.mobileContentWrapper{
    width: 50%;
    margin-left: 7%;
    margin-right: 7%;
}
.mobileHeader{
    text-align: center;
}