.projectPageBg{
    min-width: 100vh;
    height: 100vh;
    
}
.projectPageWiring{
    border-width: 2px;
    border-style: solid;
    border-color: white;
    height: 90vh;
    width: 170vh;
    position: absolute;
    left: 12%;
    top: 5%;
}

.projectContentContainer{
    color: white;
    font-family: 'Segoe UI', Tahoma;
    font-style: normal;
    margin-left: 3%;
    margin-top: 1%;
    width: 75%;
    
}

.projectTitle{
    font-weight: normal;
    font-size: 75px;
    margin-top: 3%;
    margin-left: 5%;
}
.coloredBar{
    background-color: #4EC5DE;
    height: 3px;
    width: 20vh;
    margin-left: 7%;
    margin-top:7%;
    margin-bottom: 3%;

}
.contentText{
    max-width: 55%;
    max-height: 50%;
    margin-left: 20%;
    font-size: 30px;
    overflow: hidden;
}



.linkToSite{
    margin-left: 50%;
    margin-top: 5%;
    font-size: 30px;
    margin-bottom: 1%;
    padding: 10px 30px 10px 30px;
    &:hover{
        cursor: pointer;
    }
}

.sideImage{
    width: 30%;
    height: 80%;
    position: relative;
    float: right;
    margin-right: 1%;
    margin-left: 1%;
    top: 50%;
    transform: translateY(-50%);
}