.sidebarWrapper{
    display:flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 1%;
    span{
        
        background-color: white;
        &:hover{
            margin-left: 5%;
            cursor: pointer;
        }
    }
    z-index: 1000;
}
.selected{
    width: 65px ;
    height: 14px;
    margin-top: 25px;

}
.deselected{
    margin-top: 25px;
    width: 53px;
    height: 14px;
    
}