.sidebarWrapper{
    display:flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 1%;
    span{
        
        background-color: white;
        &:hover{
            cursor: pointer;
            animation-name: selectedAnim;
            animation-duration: .5s;
            animation-iteration-count: infinite;
        }
    }
    z-index: 1000;
}
.selected{
    width: 65px;
    height: 14px;
    margin-top: 25px;
    animation-name: selectedAnim;
    animation-duration: .5s;
    animation-delay: 2s;
}

@keyframes selectedAnim {
    0% {
        margin-left: 0%;
    }
    50%{
        margin-left: 20%;
    }
    100%{
        margin-left: 0%;
    }
}


.deselected{
    margin-top: 25px;
    width: 53px;
    height: 14px;
    
}

@media screen and (max-width: 700px){
    .selected{
        width: 50px;
        height: 10px;
        margin-top: 25%;
    }
    .deselected{
        width: 38px;
        height: 10px;
        margin-top: 25%;
    }
}